<%- include('../partials/header') %>
<%= flight.airline %> <br>
<%= flight.airport %> 
<%= flight.flightNo %> <br>
<%= flight.departs %> <br>
<% flight.destinations.forEach(function(f) { %>
  <tr>
    <td><%= f.airportArrival %></td>
    <td><%= f.arrival %></td>
  </tr>
  <% }); %>
  <br>
  <form method="POST" action="/flights/<%= flight._id%>/destinations">
  <label>Going To:</label>
  <select name="airportArrival">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="PDX">PDX</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
    <option value="GAY">GAY</option>
  </select><br>
  <label>Arrival:</label>
    <input type="date" name="arrival"><br>
  <button type="submit">Add Destination</button>
</form>
<br>
<a href="/flights/<%= flight._id%>/tickets/new">New Ticket</a> <br>
<% tickets.forEach(function(t) { %>
<tr>
  <td>Seat: <%= t.seat %>, <br> </td>
  <td>Price: $<%= t.price %> <br>
  <br> </td>
</tr>
<% }); %>
<%- include('../partials/footer') %>
